@font-face {
    font-family: Circe;
    src: url(/fronts/Circe-Regular.woff);
}
@font-face {
    font-family: CirceBold;
    src: url(/fronts/Circe-Bold.woff);
}
@font-face {
    font-family: ExtraBold;
    src: url(/fronts/Circe-ExtraBold.woff);
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    color: #000;
    font-family: Circe;
}
header{
    background: #fffed8;
    padding: 20px;
}
a,ul{
    text-decoration: none;
    list-style-type:none
}
.header__row-up {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}
.header__row-up .time {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    color: #888;
}
.header__row-up .adress {
    font-size: 18px;

}
.phones__link {
    font-weight: 700;
    padding-left: 15px;
    font-size: 18px;
}

.header__row-main, .header__row-main .main-info,.navigation, .main-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.header__row-main  .logo__image {
    width: 150px;
    height: 60px;
}
.vertical-line {
    background-color: #752e85;
    width: 8px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 15px;
}
.logo{
    display: flex;
    width: 100px;
}
.logo__content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    word-wrap: break-word;
}
.phones {
    font-size: 12px;
}
.adress,.time{
    font-size: 16px;
}
.header__row-main .main-info .navigation__item .text-in-link {
    padding: 20px 0;
}
.navigation{
    display: flex;

}
.navigation-header{
    display: flex;
    justify-content: space-between;
}
.navigation__item{
    padding-right: 25px;
    cursor: pointer;
    font-size: 1.5rem;
}
.header__row-main .logo {
    margin-right: 8%;
    display: grid;
    grid-template-columns: repeat(3,auto);
}

 .btn a, .btn-mobile a,.form-row button {
    font-family: Circe;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 25px;
    padding: 12px 25px;
    min-width: 80px;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    background-image: linear-gradient(90deg,#fa7eff,#9b00a2,#fdbb2d,#fa7eff);
    background-size: 300% 100%;
    border-radius: 50px;
    transition: background-position .7s ease-in-out;
}

 .black-mobile-only{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.section-header {
    background-color: #fffed8;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.course-header__image {
    width: 50%;
    height: 0;
    padding-bottom: 37%;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}
.course-header__image img {
    width: 76%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
}
.course {
   width: 40%;
    margin-right: 40px;
    font-family: ExtraBold;
  
}
.section-header__info {
    padding-top: 50px;
    padding-left: 30px;
}
.title{
    font-family: ExtraBold;
    color: #9b00a2;
    font-size: 70px;
    padding-bottom: 10px;
    line-height: 1;
}
p{
    font-size: 18px;
    padding-bottom: 10px;
}

h3{
    font-size: 30px;
    padding-bottom: 10px;
}
b{
    font-family: ExtraBold;
}
.btn-mobile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link-btn{
   display: flex;
   justify-content: start;
   align-items: center;
}
.link-btn img{
 margin-right: 10px;
}

.course-info {
    padding: 60px 1% 0px 1%;
    background-image: url('/img/bg/comp_version_bg.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.course-info__title {
    line-height: 1;
    text-align: center;
    font-size: 45px;
    margin: 0 auto 50px;
    font-weight: 550;
}
.course-info__text {
    text-align: center;
    font-size: 26px;
    line-height: 35px;
    color: #000;
    margin: 0 auto 60px;
    max-width: 1040px;
}
.purple-background{
    background: #f3e9ff;
    padding: 10px 30px;
}
.yellow-background{
    background: #fffed8;
    padding: 20px;
    border-radius: 20px;
    max-width: 900px;
}
.course-info__link{
    display: inline;
    border-bottom: 3px solid  #9b00a2;
}

.section-big-school {
    padding: 0px 20% 60px;
}
.section-big-school__header {
    font-size: 60px;
    color: #000;
    text-align: center;
    padding-bottom: 60px;
    line-height: 1.1;
    margin: 50px 0;
}
.section-big-school__content, 
.test-class__form .form-row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content__circle {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 280px;
    height: 280px;
    border-radius: 100%;
}
.content__background-img {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    transform: translate(-50%);
    left: 50%;
}
.content__title-image {
    max-width: 200px;
    max-height:200px;
}
.lazyloaded {
    position: absolute;
    bottom: 20%;
    left: 50%;
}
.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}
.content .centered {
    text-align: center;
}
.content__circle{
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
.content__text {
    color: #000;
    width: 100%;
    line-height: 1;
    font-size: 24px;
}
.video-preview {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border-radius: 20px;
}

.test-class__title {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1;
    font-size: 44px;
}
.section-test-class .test-class__form {
    display: flex;
    width: 90%;
    background-color: #fbf4ff;
    border-radius: 43px;
    height: 140px;
    margin: 0 auto 40px;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
  
}
.section-test-class .test-class__form .form-row {
    margin-bottom: 20px;
}

.section-test-class .test-class__form .form-row input {
    max-width: 320px;
    font-size: 20px;
    line-height: 46px;
    color: #000;
    outline: none;
    border: none;
    border-bottom: 5px solid #761ca0;
    margin-right: 30px;
    background-color: transparent;
}

.section-test-class .test-class__form .form-add {
    font-size: 15px;
    text-align: center;
}
.form-add__line-decoration{
    text-decoration-color: #761ca0;
    text-decoration: underline;
}
.section-test-class .steps .step__flex {
    width: 100%;
    text-align: center;
}
.form-row button{
    width: 200px;
    font-size: 16px;
    padding: 10px 0;
}

.section-test-class .steps .step__number {
    font-size: 24px;
    line-height: 1.4;
    color: #000;
    text-align: center;
}
.section-test-class .steps .step__name {
    font-size: 20px;
    height: 20px;
    line-height: 25px;
    color: #000;
    font-weight: 700;
    text-align: center;
}
 .step__content {
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-align: center;
    background: url(/img/steps.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 20px;
    min-height: 300px;

}
.step__name{
    padding-bottom: 50px;
}
.steps{
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: repeat(4,auto);
  
}
.step{
    margin: 10px; 
}

 .section-test-class .steps .step__image {
    margin: auto auto 20px;
    height: 70px;
}
.section-test-class .steps .step__image img {
    width: auto;
    height: 100%;
} 

.about-school__additional-info{
   width: 100%;
}

.about-school__additional-info .additional-info__header {
    font-size: 40px;
    line-height: 1.4;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}
.about-school__additional-info .additional-info__title {
    font-size: 30px;
    line-height: 1.4;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
}
.about-school__additional-info .additional-info__text {
    font-size: 24px;
    line-height: 1.4;

}
.additional-info__box{
    max-width: 70vw;
    display: flex;
    margin: 0 auto;
    padding-bottom: 60px ;  
}
.additional-info__content{
    width: 100%;
}

.additional-info__subtitle{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.additional-info__image{
    display: grid;
    position: relative; 
    grid-template-columns: 1fr;
    margin-right: 50px;
}
.additional-info__text{
  padding: 10px;
}
.main-pic{
    margin: 0 15px;
    object-fit: cover;
    object-position: top;
    max-width: 450px;
    grid-column: 1 / span 8;
    grid-row: 1; 
    padding-top: 11%;
    padding-left: 5%;
    z-index: 1; 
}
.bg-pic{
    grid-column: 4 / -1;
    grid-row: 1;
}

.section-achievements__title {
    font-size: 50px;
    text-align: center;

 }
 .section-achievements__box {
     max-width: 70vw;
     display: flex;
     justify-content: space-between;
     margin: 50px auto;
 }
 .section-achievements__box--image {
     width: 400px;
 }
 .content__achievements{
     display: flex;
    flex-direction: column;
     justify-content: space-between;
     width: 70%;
     padding: 10px 50px;
 }
 .content__achievements img{
    width: 50px;
 }
 .content__image{
     width: 80px;
 }
 .content__photo-director{
   display: flex;
   width: 50%; 
   justify-content: center;
 
 }

 .section-achievements__box .content__bottom-name {
     font-size: 24px;
     line-height: 1.4;
     color: #761ca0;
     font-weight: 700;
    
 }
 .content__bottom-job {
     font-size: 20px;
     line-height: 1.4;
     color: #b882be;
     margin-top: -15px;
    
 }
 
 .section-achievements .stories .story__image {
     width: 90%;
     margin-bottom: 20px;
     height: 260px;
     object-fit: cover;
 
 }
 .section-achievements__box1{
 
     display: flex;
     justify-content: center;
     margin: 0 auto;
     width:80%;
     padding: 50px ;
 }
 .achievment__student-box1{
     margin: 0 auto;
     object-fit: cover;  
     display: flex;
     flex-direction: column;
     justify-content: start; 
     align-items: center;
     width: 100%;
 }
 .achievment__student-box1 img{
 
     margin-bottom: 20px;
     height: 260px;
     
 }  
 .achievment__link{
   width: 100%; 
   word-wrap: break-word;
   text-align: center;
   font-size: 18px;
   line-height: 20px;
 }
 .section-achievements .bottom-box {
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .section-achievements .bottom-box__content {
     font-size: 30px;
     line-height: 1.4;
     color: #000;
   
 }
 .section-achievements .bottom-box__link--text {
     font-size: 28px;
     line-height: 1.2;
     color: #761ca0;
 }
 .section-atmosphere-slider__slider .fadeSlide-next, .section-atmosphere-slider__slider .fadeSlide-prev {
     top: 50%;
     transform: translateY(-50%);
 }
 .section-reviews__image-wrap {
     margin: 10px;
     position: relative;
     cursor: pointer;
 }
 .active img{
    opacity: 0.4;
    z-index: 10;
 }
 .section-achievements .bottom-box__vertical-line {
     height: 100px;
     width: 6px;
     background-color: #761ca0;
     border-radius: 20px;
     margin: 0 4%;
 }
 .section-reviews__example{
    margin: 0px 15%; 
 }

 .image-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 0px 0px;
}
.section-reviews__example.active {
    align-items: flex-start;
}
 .section-achievements .bottom-box__big-content {
     font-size: 45px;
     line-height: .7;
     color: #000;
     font-weight: 700;
 }
 .image-box__image {
    width: 140px;
    border-radius: 100%;
    margin: 30px auto;
    cursor: pointer;
}
.image-box__vk {
    width: 50px;
    position: absolute;
    top: 125px;
    left: 145px;
    z-index: 2;
    margin: 0;
}
.video-preview .video-preview__arrow{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 50%;
}
.video-preview .video-preview__iframe {
    border-radius: 20px;
    width: 140px;
    height: 140px;
    outline-width: 0;
    outline: none;
    user-select: none;
}
.circle.video-preview .video-preview__iframe {
    border-radius: 100%;    
}
.content_block__text{
    font-size: 20px;
}
.image-box__discription {
    font-size: 18px;
    color: #000;
    text-align: center;
    width: 250px;
}
.mobile-only.review {
    display: none;
}
 .content__text{
    font-size: 24px;
}
.achievment__link{
    margin-top: -10px;
    padding-bottom: 50px;
}
.bottom-box__first-text{
   text-align: right;

}
.bottom-box__link--text{
    width: 60%;
}
.content_block{
    display: flex;
    flex-direction: column;
}
.content_block__title{
    text-align: center;
    font-size: 32px;
}


 .section-reviews {
    padding: 10px 2% 0;
}
 .section-reviews__title {
    padding-top: 20px;
    font-size: 54px;
    text-align: center;
    margin-bottom: 40px;
}
.section-reviews__subtitle {
    font-size: 30px;
    line-height: 1.4;
    color: #000;
    text-align: center;
    width: 48%;
    margin: 0 auto 10px;
    min-width: 900px;
}
.section-reviews__link-box p{
    text-align: center;
    font-size: 24px;
    color: red;
}
.section-reviews__line {
    background-color: #761ca0;
    width: 493px;
    height: 5px;
    border-radius: 20px;
}
.section-reviews__image-shadow {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 2;
    background-color: #9b00a2;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.section-reviews__image {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 1;
}
.section-reviews__link-box,  .section-reviews__images,.section-reviews__example, .section-reviews__example.active, .section-reviews__example{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-reviews__images{
    margin-top: 50px;
    display: flex;
    
}
.section-atmosphere-slider {
    padding: 60px 5%;
}
.discription{
    margin-left: 50px;
}
.section-atmosphere-slider {
    padding: 60px 5%;
}
.section-atmosphere-slider__header {
    align-items: flex-start;
    padding: 60px 5%;
    display: flex;
}
.section-atmosphere-slider__header .title {
    color: #000;
    margin: 0 10% 0 0;
    width: 35%;
}
.section-atmosphere-slider__header .discription__big {
    font-size: 30px;
    line-height: 1.2;
    color: #000;
    padding-right: 5%;
    margin-bottom: 15px;
    display: inline-block;
}

 .swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: #752e85;
    height: 30px;
    font-weight: 900;

} 
.section-atmosphere-title{
    font-size: 60px;
    line-height: 1.1;
}

.discription__little{
    font-size: 24px;
}
.swiper {
    width: 80%;
    margin: 60px 0px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
 
  .section-faq {
    line-height: 1.2;
    background-color: #fffcd5;
    padding: 79px 20%;
  
}
.section-faq__title {
    text-align: center;
    font-size: 70px;
    margin: 0 auto 50px;
   
}
.section-faq__subtitle {
    font-size: 30px;
    line-height: 1.4;
    color: #000;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 60px;
}
.section-faq__list {
    list-style: none;
    padding-left: 20%;
}
.section-faq__list-item .faq__mark {
    background-color: transparent;
    font-size: 20px;
    position: relative;
    display: flex;
    cursor: pointer;
}
.faq__mark-circle{
margin-right: 10px;
border-radius: 50%;
width: 15px;
height: 15px;
border: 4px solid rgb(0, 0, 0);
animation: spin 2s linear infinite;
}
.section-faq__list-item{
    padding-bottom: 15px;
}
.faq__mark{
    display: flex;
    align-items: center;
}


.footer-links {
    padding: 30px 25%;
    display: flex;
    align-items: flex-start;
    position: relative;
}
.footer-links__box-title {
    font-size: 20px;
    color: #000;
    margin-bottom: 30px;
    font-weight: 700;
}
.footer-links__box {
    width: 50%;
}
.footer-links__box-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.footer-links__box-content2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}
.footer-links__background-img{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    transform: translate(-50%);
    left: 50%;
}

.footer-bottom {
    background-color: #fffcd5;
    padding: 15px 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-bottom__box-years {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;
}
.footer-bottom__box{
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social{
    flex-direction: row;
}
.social a{
    padding-left: 10px;
}
.footer-bottom__box-discription {
    font-size: 15px;
    color: #000;
    margin-bottom: 10px;
}
.footer-bottom__box-politic {
    font-size: 15px;
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}
.footer-bottom__box .phones__link:first-child {
    margin-bottom: 15px;
}

.footer-bottom__box .adress, .footer-bottom__box .time {
    font-size: 15px;
    color: #888;
    margin-left: 15px;
    margin-right: 15px;
}
.footer-bottom__social-text {
    font-size: 15px;
   text-align: center;
    font-weight: 700;

}
.footer-bottom__box:last-child {
    flex-wrap: wrap;
}
.footer-bottom__box_tel{
    display: flex;
    flex-direction: column;
}
.footer-bottom__box p{
    padding: 0;
    margin: 0;
}

